Repository greydragon888/vitest-react-profiler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

test(bench): cut the multiplied timeouts in the async matcher benchmarks
  tests/benchmarks/async-matchers.bench.tsx
Due: eslint --fix

test(bench): reset profiler data per rep in the async matcher benchmarks
  tests/benchmarks/async-matchers.bench.tsx
Due: eslint --fix

ci: add a benchmark job that fails when a benchmark measures nothing
  .github/workflows/ci.yml
  eslint.config.mjs
  package.json
  scripts/check-bench-results.mjs
Due: eslint --fix, prettier --write

ci: point the stress test filter at the config filename that exists
  .github/workflows/ci.yml
  CLAUDE.md
Due: prettier --write

chore: use import.meta.dirname in the shared vitest config
  vitest.config.common.mts
Due: none

chore: use import.meta.dirname in the example vitest configs
  examples/async/vitest.config.mts
  examples/basic/vitest.config.mts
  examples/concurrent/vitest.config.mts
  examples/hooks/vitest.config.mts
  examples/memoization/vitest.config.mts
  examples/performance/vitest.config.mts
  examples/snapshot/vitest.config.mts
Due: none

chore: lint the vitest configs and drop two aliases that resolve to nothing
  .lintstagedrc.json
  eslint.config.mjs
  tsconfig.json
  vitest.config.bench.mts
  vitest.config.common.mts
  vitest.config.properties.mts
  vitest.config.stress.mts
  vitest.config.unit.mts
Due: eslint --fix, prettier --write
