Repository greydragon888/vitest-react-profiler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: patch node-forge vulnerability cve-2025-12816
  package-lock.json
  package.json
Due: prettier --write

docs: fix examples tests
  .husky/pre-push
  examples/async/vitest.config.mts
  examples/basic/vitest.config.mts
  examples/concurrent/setup.ts
  examples/concurrent/vitest.config.mts
  examples/memoization/package.json
  examples/memoization/vitest.config.mts
  examples/performance/PerformanceTest.test.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: fix lint rules
  tests/unit/matchers/helpers.ts
  tests/unit/matchers/toMeetRenderCountBudget.test.tsx
Due: eslint --fix

test: add tests for new matchers
  CHANGELOG.md
  README.md
  tests/benchmarks/render-count-budget-matcher.bench.tsx
  tests/benchmarks/render-loops-matcher.bench.tsx
  tests/property/matchers.properties.tsx
  tests/stress/matcher-render-loops.stress.tsx
Due: eslint --fix

ci: add npm trusted publishing с oidc
  .github/workflows/release.yml
Due: prettier --write

ci: add path filtering for property, stress, and mutation tests
  .github/workflows/ci.yml
Due: prettier --write

ci: remove registry-url to enable oidc auth
  .github/workflows/release.yml
Due: prettier --write

ci: add registry flag for oidc publish
  .github/workflows/release.yml
Due: prettier --write

ci: add oidc debug
  .github/workflows/release.yml
Due: prettier --write

ci: use node.js 24 for oidc trusted publishing
  .github/workflows/release.yml
Due: prettier --write

release: v1.9.0
  .husky/README.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  examples/async/vitest.config.mts
  examples/basic/vitest.config.mts
  examples/concurrent/vitest.config.mts
  examples/hooks/ContextHooks.test.tsx
  examples/hooks/vitest.config.mts
  examples/memoization/vitest.config.mts
  examples/performance/vitest.config.mts
  package.json
  sonar-project.properties
  src/hooks/createHookProfiler.tsx
  src/hooks/index.ts
  src/hooks/profileHook.tsx
  src/index.ts
  tests/hooks/profileHook-context.test.tsx
  tests/hooks/profileHook.basic.test.tsx
Due: eslint --fix, prettier --write

release: v1.10.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  examples/snapshot/.gitignore
  examples/snapshot/OptimizationTesting.test.tsx
  examples/snapshot/README.md
  examples/snapshot/SnapshotBasics.test.tsx
  examples/snapshot/components/Counter.tsx
  examples/snapshot/components/FilteredList.tsx
  examples/snapshot/components/TodoList.tsx
  examples/snapshot/package.json
  examples/snapshot/setup.ts
  examples/snapshot/tsconfig.json
  examples/snapshot/vitest.config.mts
  package-lock.json
  package.json
  sonar-project.properties
  src/matchers/index.ts
  src/matchers/sync/phase.ts
  src/matchers/sync/rerender.ts
  src/profiler/api/ProfilerAPI.ts
  src/profiler/core/ProfilerData.ts
  src/types.ts
  tests/integration/snapshot-api.test.tsx
  tests/property/snapshot-api.properties.tsx
  tests/stress/snapshot-api.stress.tsx
  tests/unit/matchers/toHaveLastRenderedWithPhase.test.tsx
  tests/unit/matchers/toHaveRerenderedOnce.test.tsx
  tests/unit/matchers/toNotHaveRerendered.test.tsx
  tests/unit/profiler-api.test.ts
  tests/unit/profiler-data.test.ts
Due: eslint --fix, prettier --write

release: v1.10.0
  package.json
  src/utils/renderProfiled.tsx
  tests/async/async-matchers.test.tsx
  tests/async/async-utils.test.tsx
  tests/helpers/mocks.test.ts
  tests/hooks/createHookProfiler.test.tsx
  tests/hooks/profileHook-context.test.tsx
  tests/hooks/profileHook.edge-cases.test.tsx
  tests/integration/event-system.test.tsx
  tests/unit/helpers.test.ts
  tests/unit/matchers/cleanup.test.tsx
  tests/unit/matchers/integration.test.tsx
  tests/unit/matchers/notToHaveRenderLoops.test.tsx
  tests/unit/matchers/toHaveMountedOnce.test.tsx
  tests/unit/matchers/toHaveNeverMounted.test.tsx
  tests/unit/matchers/toHaveOnlyMounted.test.tsx
  tests/unit/matchers/toHaveOnlyUpdated.test.tsx
  tests/unit/matchers/toHaveRendered.test.tsx
  tests/unit/matchers/toHaveRenderedTimes.test.tsx
  tests/unit/matchers/toMeetRenderCountBudget.test.tsx
  tests/unit/matchers/type-guards.test.tsx
  tests/unit/profiled-component.test.tsx
  tests/unit/profiler-api-events.test.tsx
  tests/unit/profiler-events.test.ts
  tests/unit/withProfiler.test.tsx
  tests/utils/renderProfiled.test.tsx
Due: eslint --fix, prettier --write

release: v1.11.0
  .gitignore
  CHANGELOG.md
  README.md
  examples/snapshot/ExtendedMatchers.test.tsx
  examples/snapshot/components/AsyncCounter.tsx
  src/auto-setup.ts
  src/index.ts
  src/matchers/async/rerender.ts
  src/matchers/index.ts
  src/matchers/sync/rerender.ts
  src/types.ts
  tests/async/async-matchers.test.tsx
  tests/benchmarks/rerender-matchers.bench.tsx
  tests/integration/snapshot-api.test.tsx
  tests/property/snapshot-api.properties.tsx
  tests/stress/rerender-matchers.stress.tsx
Due: eslint --fix

release: v1.12.0
  .husky/pre-commit
  .husky/pre-push
  .jscpd.json
  CHANGELOG.md
  README.md
  examples/async/event-based.test.tsx
  examples/performance/Stabilization.test.tsx
  package-lock.json
  package.json
  sonar-project.properties
  src/helpers.ts
  src/hooks/createHookProfiler.tsx
  src/hooks/profileHook.tsx
  src/hooks/types.ts
  src/matchers/async/phase.ts
  src/matchers/async/render-count.ts
  src/matchers/async/rerender.ts
  src/matchers/async/stabilization.ts
  src/matchers/async/validation.ts
  src/matchers/index.ts
  src/profiler/api/ProfilerAPI.ts
  src/types.ts
  src/utils/async.ts
  src/utils/validation.ts
  tests/integration/stabilization.test.tsx
  tests/property/stabilization.properties.tsx
  tests/stress/stabilization.stress.tsx
  tests/unit/helpers.test.ts
  tests/unit/matchers/stabilization.test.tsx
Due: eslint --fix, prettier --write

fix: fix deps in examples workspace
  examples/performance/Stabilization.test.tsx
  examples/performance/package.json
Due: eslint --fix, prettier --write

ci: skip sonarcloud and claude review for dependabot prs
  .github/workflows/claude-code-review.yml
  .github/workflows/sonarcloud.yml
Due: prettier --write

fix: fix deps in examples workspace
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump the dev-dependencies
  eslint.config.mjs
  knip.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: kill mutation testing survivors
  src/profiler/api/ProfilerAPI.ts
  tests/async/async-matchers.test.tsx
  tests/async/async-utils.test.tsx
Due: eslint --fix

fix(deps): update qs to 6.14.1 to fix cve-2025-15284
  package-lock.json
Due: prettier --write

chore(lint): align lint policy with real-router
  eslint.config.mjs
  src/utils/formatRenderHistory.ts
  tests/async/async-matchers.test.tsx
  tests/async/async-utils.test.tsx
  tests/integration/stabilization.test.tsx
  tests/property/api-events.properties.tsx
  tests/property/events.properties.tsx
  tests/property/formatting.properties.tsx
  tests/property/matchers.properties.tsx
  tests/property/profiler-storage.properties.tsx
  tests/property/renderProfiled.properties.tsx
  tests/property/snapshot-api.properties.tsx
  tests/property/stabilization.properties.tsx
  tests/property/stress.properties.tsx
  tests/stress/combined-stress.stress.tsx
  tests/stress/concurrent-stress.stress.tsx
  tests/stress/edge-cases-stress.stress.tsx
  tests/stress/event-system-stress.stress.tsx
  tests/stress/high-volume-memory.stress.tsx
  tests/stress/hook-profiling-stress.stress.tsx
  tests/stress/registry-gc-profiling.stress.ts
  tests/stress/rerender-matchers.stress.tsx
  tests/unit/matchers/notToHaveRenderLoops.test.tsx
  tests/unit/matchers/stabilization.test.tsx
  tests/unit/registry.test.tsx
  tests/unit/withProfiler.test.tsx
Due: eslint --fix

chore(deps-dev): override qs, switch to @sonar/scan, allow install scripts
  .npmrc
  .nvmrc
  knip.json
  package-lock.json
  package.json
Due: prettier --write

build: migrate from tsup to tsdown
  .gitattributes
  .github/CODEOWNERS
  .github/dependabot.yml
  .npmignore
  CLAUDE.md
  README.md
  knip.json
  package-lock.json
  package.json
  tsdown.config.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

ci(release): automate releases with release-please
  .github/CODEOWNERS
  .github/workflows/claude-code-review.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  release-please-config.json
  sonar-project.properties
  tests/unit/release-config.test.ts
Due: eslint --fix, prettier --write

test(stress): measure the 100-component heap delta from a collected baseline
  tests/stress/high-volume-memory.stress.tsx
Due: eslint --fix

test(stress): collect the heap before every memory baseline
  tests/stress/high-volume-memory.stress.tsx
Due: eslint --fix

test(stress): collect the heap before every baseline in the remaining files
  tests/stress/combined-stress.stress.tsx
  tests/stress/concurrent-stress.stress.tsx
  tests/stress/edge-cases-stress.stress.tsx
  tests/stress/event-system-stress.stress.tsx
  tests/stress/high-volume-memory.stress.tsx
  tests/stress/hook-profiling-stress.stress.tsx
  tests/stress/registry-gc-profiling.stress.ts
Due: eslint --fix

ci: skip the repository tsconfig in the package installation check
  .github/workflows/ci.yml
Due: prettier --write

chore(scripts): remove the unix-only env prefixes from the vitest scripts
  package.json
Due: prettier --write

test(stress): re-base the memory budgets on cross-platform measurements
  tests/stress/combined-stress.stress.tsx
  tests/stress/concurrent-stress.stress.tsx
  tests/stress/edge-cases-stress.stress.tsx
  tests/stress/event-system-stress.stress.tsx
  tests/stress/high-volume-memory.stress.tsx
  tests/stress/hook-profiling-stress.stress.tsx
  tests/stress/registry-gc-profiling.stress.ts
  tests/stress/rerender-matchers.stress.tsx
  tests/stress/snapshot-api.stress.tsx
Due: eslint --fix

test(stress): collect gc entries before reading the pause statistics
  tests/stress/high-volume-memory.stress.tsx
  tests/stress/registry-gc-profiling.stress.ts
Due: eslint --fix

test(stress): collect gc entries in the remaining observer copies
  tests/stress/combined-stress.stress.tsx
  tests/stress/concurrent-stress.stress.tsx
  tests/stress/edge-cases-stress.stress.tsx
  tests/stress/event-system-stress.stress.tsx
  tests/stress/hook-profiling-stress.stress.tsx
Due: eslint --fix

test(stress): finish the gc flush in the two partly converted files
  tests/stress/high-volume-memory.stress.tsx
  tests/stress/registry-gc-profiling.stress.ts
Due: eslint --fix

docs(contributing): correct the stale setup, structure and matrix claims
  CONTRIBUTING.md
Due: none

test(bench): reset profiler data between async matcher benchmark iterations
  tests/benchmarks/async-matchers.bench.tsx
Due: eslint --fix

test(bench): import expect so the event system benchmarks actually run
  tests/benchmarks/event-system.bench.tsx
Due: eslint --fix

test(bench): import expect in the four remaining benchmark files
  tests/benchmarks/async-matchers.bench.tsx
  tests/benchmarks/realistic-patterns.bench.tsx
  tests/benchmarks/rerender-matchers.bench.tsx
  tests/benchmarks/sync-matchers.bench.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: any of: *.{json,yml,yaml}
