Repository greydragon888/vitest-react-profiler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve memory leak in component_registry
  CHANGELOG.md
  package.json
  src/registry.ts
  tests/unit/registry.test.tsx
Due: eslint --fix, prettier --write

test: add coverage for registry unregister() method
  tests/unit/registry.test.tsx
Due: eslint --fix

perf: add metrics caching for 35x speedup and fix stack overflow (v1.3.2)
  .husky/README.md
  .husky/pre-commit
  CHANGELOG.md
  src/withProfiler.tsx
  tests/benchmarks/getAverageRenderTime.bench.tsx
  tests/benchmarks/getRenderHistory-cached.bench.ts
  tests/benchmarks/getRenderHistory.bench.ts
  tests/benchmarks/getRenderHistory.bench.tsx
  tests/property/metrics-cache.properties.tsx
  tests/unit/metrics-cache.test.tsx
  vitest.config.bench.mts
  vitest.config.mts
Due: eslint --fix, prettier --write

chore: fix npm package version
  package.json
Due: prettier --write

fix: remove extensions from imports and fix aliases in examples tests
  examples/basic/Basic.test.tsx
  examples/basic/tsconfig.json
  examples/basic/vitest.config.mts
  examples/hooks/DerivedStateIssues.test.tsx
  examples/hooks/HookComposition.test.tsx
  examples/hooks/UnmemoizedReferences.test.tsx
  examples/hooks/UnnecessaryRenders.test.tsx
  examples/hooks/tsconfig.json
  examples/hooks/vitest.config.mts
  examples/memoization/Memoization.test.tsx
  examples/memoization/SimpleMemoization.test.tsx
  examples/memoization/tsconfig.json
  examples/memoization/vitest.config.mts
  examples/performance/PerformanceTest.test.tsx
  examples/performance/tsconfig.json
  examples/performance/vitest.config.mts
  src/matchers/async/phase.ts
  src/matchers/async/render-count.ts
  src/matchers/index.ts
  src/matchers/sync/phase.ts
  src/matchers/sync/render-count.ts
  src/profiler/api/ProfilerAPI.ts
  src/profiler/components/createOnRenderCallback.ts
  src/profiler/components/withProfiler.tsx
  src/profiler/core/ProfilerCache.ts
  src/profiler/core/ProfilerData.ts
  src/profiler/core/ProfilerStorage.ts
Due: eslint --fix, prettier --write

chore(examples): remove unused variables and imports in performance tests
  examples/performance/PerformanceTest.test.tsx
  examples/performance/components/FrequentUpdates.tsx
  examples/performance/components/HeavyComputation.tsx
Due: eslint --fix

chore: achieve 100% coverage for matcher registration and improve claude.md
  CHANGELOG.md
  CLAUDE.md
  package.json
  src/matchers/index.ts
  tests/unit/matchers.test.tsx
  vitest.config.mts
Due: eslint --fix, prettier --write

fix(coverage): vitest 4 coverage collection breaking change
  vitest.config.mts
Due: none

fix(ci): codeowners validation token scope
  .github/workflows/ci.yml
Due: prettier --write

fix(coverage): achieve 100% code coverage
  src/auto-setup.ts
  src/index.ts
  src/profiler/core/CacheMetrics.ts
  src/registry.ts
  vitest.config.mts
Due: eslint --fix

fix(ci): remove 'owners' check for personal repository
  .github/workflows/ci.yml
Due: prettier --write

fix(test): increase timeout tolerance for ci property tests
  tests/property/async.properties.tsx
Due: eslint --fix

fix(types): remove .ts extensions from typescript imports
  README.md
  examples/async/event-based.test.tsx
  src/matchers/async/phase.ts
  src/matchers/async/render-count.ts
  src/profiler/api/ProfilerAPI.ts
  src/utils/async.ts
Due: eslint --fix, prettier --write

test: increase timing tolerance for race condition tests in ci
  examples/async/event-based.test.tsx
  tests/async/async-matchers.test.tsx
Due: eslint --fix

docs: edit readme file
  .gitignore
  README.md
Due: prettier --write

test: fix pb test for ci
  tests/property/matchers.properties.tsx
Due: eslint --fix

docs: fix readme file
  README.md
Due: prettier --write

ci: add codecov test results integration
  .github/workflows/ci.yml
  .gitignore
Due: prettier --write

test: remove timing-sensitive tests
  tests/async/async-matchers.test.tsx
Due: eslint --fix

test: remove timing-sensitive pb tests
  README.md
  tests/property/async.properties.tsx
Due: eslint --fix, prettier --write

feat: see changelog v1.7.0 and add memory leaks testing
  .github/workflows/ci.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  sonar-project.properties
  src/matchers/async/phase.ts
  src/matchers/async/render-count.ts
  src/profiler/api/ProfilerAPI.ts
  src/profiler/components/ProfiledComponent.tsx
  src/profiler/core/ProfilerData.ts
  src/profiler/core/ProfilerEvents.ts
  src/profiler/core/constants.ts
  src/utils/async.ts
  src/utils/formatRenderHistory.ts
  tests/async/async-matchers.test.tsx
  tests/async/async-utils.test.tsx
  tests/benchmarks/formatting.bench.ts
  tests/hooks/createHookProfiler.test.tsx
  tests/hooks/profileHook.edge-cases.test.tsx
  tests/memory/component-lifecycle.test.tsx
  tests/memory/event-subscriptions.test.tsx
  tests/memory/render-history.test.tsx
  tests/unit/profiled-component.test.tsx
  tests/unit/profiler-api.test.ts
  tests/unit/profiler-data.test.ts
  tests/unit/profiler-events.test.ts
  vitest.config.bench.mts
  vitest.config.common.mts
  vitest.config.memory.mts
  vitest.config.mts
  vitest.config.properties.mts
  vitest.config.unit.mts
  vitest.stryker.config.mts
Due: eslint --fix, prettier --write

fix: remove memory leaks testing
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  tests/memory/component-lifecycle.test.tsx
  tests/memory/event-subscriptions.test.tsx
  tests/memory/render-history.test.tsx
  vitest.config.common.mts
  vitest.config.memory.mts
  vitest.config.unit.mts
Due: eslint --fix, prettier --write

fix: use oidc trusted publisher for npm publish
  .github/workflows/release.yml
Due: prettier --write

fix: remove registry-url for oidc trusted publisher
  .github/workflows/release.yml
Due: prettier --write

ci: return registry-url
  .github/workflows/release.yml
Due: prettier --write

ci: NODE_AUTH_TOKEN
  .github/workflows/release.yml
Due: prettier --write

chore: use full commit sha for github actions
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  .github/workflows/sonarcloud.yml
Due: prettier --write

fix(security): address glob command injection vulnerability (GHSA-5j98-mcp5-4vw2)
  package-lock.json
  package.json
Due: prettier --write

test: remove all timing-dependent tests
  .gitignore
  tests/async/async-matchers.test.tsx
  tests/async/async-utils.test.tsx
  tests/integration/event-system.test.tsx
  tests/property/api-events.properties.tsx
  tests/property/async.properties.tsx
  tests/property/events.properties.tsx
  tests/property/matchers.properties.tsx
  tests/unit/profiler-api-events.test.tsx
Due: eslint --fix

test: bump coverage
  tests/async/async-utils.test.tsx
Due: eslint --fix

ci: improve size.yml
  .github/workflows/size.yml
  tests/unit/registry.test.tsx
Due: eslint --fix, prettier --write

Revert "ci: improve size.yml"
  .github/workflows/size.yml
  tests/unit/registry.test.tsx
Due: eslint --fix, prettier --write

fix(ci): add permissions for pr comments in size check workflow
  .github/workflows/size.yml
Due: prettier --write

test: fix stress tests
  vitest.config.stress.mts
Due: none

build: fix tsup config
  tsup.config.ts
Due: eslint --fix

test: bump unit tests coverage and mutation score
  src/profiler/core/constants.ts
  vitest.config.unit.mts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: any of: *.{json,md,yml,yaml}
